<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>木木林人-个人博客-<{=title}></title>
	<link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><h3>木木林人</h3></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="span1 active"><a href="#"><h4>主页</h4></a></li>
              <li class="span1"><a href="#about"><h4>技术</h4></a></li>
              <li ><a href="#contact" ><h4>生活杂记</h4></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

