<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>木木林人-个人博客-登陆</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 50px;
      }
	</style>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
</head>
<body>
	<div class="container">
		<div class="span3 offset4">
			<form class="well form-horizontal">
				<legend>登陆</legend>
				<label >用户名</label>
				<input type="text" class="input-big" placeholder="">
				
				<label >密码</label>
				<input type="password" class="input-big" placeholder="">
				</br></br>
				<button type="submit" class="btn btn-primary">登陆</button>
				<button class="btn">注册</button>
			</form>
		</div>
	</div>
</body>
</html>